n8n/Agentic PR Test.json
{
  "name": "Agentic PR Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful manual tester that needs to make sure the pull request can be merged by performing a set of functional tests.\n\nYou mission is:\n\n- You will first retrieve the preview environment on Vercel via the comments on  {{ $json.output[\"pull-request-comments-url\"] }} its part of the [Visit preview] and ends with `.vercel.app`\n\n- You can use tools from Airtop to validate all testcases. Below is a set of how to best use these tools.\n\n- Do not test any other test not mentioned within the testcases.\n\n- Make sure to output if the tests were a success and provide a detailed description of the run. What was executed and what was validated upon.\n\nHow to use Airtop tools:\n\n## Start the browser\nYou should always start by using the `Start Session` tool and after the \"Window\" tool to get the `sessionId` and `windowId` required by other tools.\n\n## Use the `Query` tool\nYou don't have access to the browser screen but you can call the `Query` tool to get knowladge and hints of the current browser window. This tool accepts queries in natural language and can output information in plain text, markdown or JSON. Ask for example: \"What is visible on the page? How many products are shown? What is the text on the labels or buttons? etc.\"\n\n## Use the `Click` tool\nUse the `Click` tool to click on an element on the web page. Describe the element in details in the \"Element Description\" field, Be specific and refer to elements that are on the page. \n\n## Use the `Type` tool\nUse the `Type` tool to type in text boxes. Describe the text box in \"Element Description\" field and the text to type in the \"Text\" field. The 'Type' tool is clicking Enter after typing the text so don't send [ENTER] commandes.\n\n### Examples for how to use the `Query` tool\n- Ask something about the current page:\n  \"Is the user logged in? Answer with Yes or No\"\n- Retrieve information:\n  \"Extract all the posts in the page, include the title and copy, output in JSON format\"\n- Get hints on the UI:\n  \"Is there a link to the contact form? If yes, describe the element in detail\"\n\nDo not ask it to run localstorage or javascript as this will not work. Only questions in natural language.\n\n## Important\n- Start by opening a session and then open a window to the initial URL\n- The human ONLY sees your last message\n- Make sure to include all the important information requested by the human in your LAST message\n- Call `End session` with the `sessionId` once you have finished using the browser",
          "maxIterations": 35
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1472, 384],
      "id": "e10b4261-31f8-4bf5-84e9-861149ee6f01",
      "name": "Browser Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful ISTQB certified assistant that creates a set of test cases that need to be tested in a later stage by a different AI agent.\n\nYou can make HTTP requests to retrieve the file diffs of the pull request via {{ $json.user_message.diff_url }}\n\nYou can gather both the issue number of the pull request: {{ $json.user_message.number }} And if a issue is mentioned within the commit message ({{ $json.user_message.title }}) or comment also retrieve the issue number which is related to the PR.\n\nYour mission:\n\n- Review the proposed code changes file by file and by significant modification.\n\n- Come up with a list of test cases based on the functionalities of the pull request and the the related issue within GitHub.\n\n- Use the GitHub issue tool to get the contents of the SCRUM issue. Which contains acceptance criteria to base the test cases on.\n\n- The tester / agent is non technical. Do not ask him to execute javascript, clean localstorage etc. but only give him clear testcases as an end user.\n\n- Only output the test cases to perform. A different AI agent will use the browser to perform these testcases at a later stage. Make sure the output is detailed enough so the next agent knows what to do and where to assess / validate on.\n\n- Don't make up any testcases for functionality which is not directly touched, or not mentioned as acceptance criteria.\n\n- If the code changes are not functional. e.g. but only a change in readme, external files, comments (also ignore comments in js or html files etc.), tests etc. Output that `needs-testing` is false.\n\n- If `needs-testing` is true it should always contain some test cases."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [48, 384],
      "id": "4062c1de-15e7-4591-966b-130b7e42d329",
      "name": "Testplan Agent"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "tlolkema",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-n8n-agent-workshop",
          "mode": "name"
        },
        "events": ["pull_request"],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [-528, 480],
      "id": "36d6b822-0e85-4e1d-ba7a-28cf3b972481",
      "name": "Github Trigger",
      "webhookId": "2c23218b-f21c-464a-8c4b-fd52306240a1",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes a HTTP request and returns the contents",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [48, 608],
      "id": "5506d2c1-1421-4aa9-b15f-ce745aaefbbb",
      "name": "HTTP Request File Diffs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-528, 288],
      "id": "e8f9072b-160f-4695-97b5-da65b600c047",
      "name": "GitHub Trigger Mock"
    },
    {
      "parameters": {
        "jsCode": "// Get the input item\nconst item = $input.first().json;\n\n// Extract the pull_request object\nconst pull_request = item.body.pull_request;\n\n// Return structured output\nreturn {\n    user_message: {\n        \"number\": pull_request.number,\n        \"title\": pull_request.title,\n        \"issue_url\": pull_request.issue_url,\n        \"diff_url\": pull_request.diff_url,\n        \"comments_url\": pull_request.comments_url\n    }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, 480],
      "id": "0a3c0c95-7a62-47f6-a028-e2a98207f5ca",
      "name": "Prepare Testplan Agent Input"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get mentioned related Scrum issue from commit title",
        "authentication": "oAuth2",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tlolkema",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-n8n-agent-workshop",
          "mode": "name"
        },
        "issueNumber": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Number', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [176, 608],
      "id": "46e5aca3-4d0e-4357-88f6-e56fd40c00e6",
      "name": "Get Issue",
      "webhookId": "2df8395d-208d-4fe7-8234-61479571fe77",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b62a9f96-dc75-4d62-acb8-b0e5e2699f48",
              "leftValue": "={{ $json.output[\"needs-testing\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [512, 384],
      "id": "3210a0ac-3469-48a6-bf5f-71895152eb65",
      "name": "Needs testing?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [736, 384],
      "id": "f8a2ce1b-0537-4575-9537-982814033261",
      "name": "Wait For Preview Environment",
      "webhookId": "59b02ff8-d867-4e88-8583-0842ac6a3ec3"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1088, 608],
      "id": "d5e1cefa-db5c-4d7b-8b3f-288e20f24c1a",
      "name": "Get preview URL from comments"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "tlolkema",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-n8n-agent-workshop",
          "mode": "name"
        },
        "pullRequestNumber": "={{ $json.output[\"pull-request-number\"] }}",
        "event": "comment",
        "body": "No functional changes, no testing required.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [736, 576],
      "id": "517d902b-14ee-48df-a952-94d545b64a91",
      "name": "GitHub Comment",
      "webhookId": "48ef858c-4282-4870-9929-0ca8bae2aba2",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "tlolkema",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-n8n-agent-workshop",
          "mode": "list",
          "cachedResultName": "ai-n8n-agent-workshop",
          "cachedResultUrl": "https://github.com/tlolkema/ai-n8n-agent-workshop"
        },
        "pullRequestNumber": "={{ $json.output[\"pull-request-number\"] }}",
        "event": "comment",
        "body": "=## Testcases\n\n{{\n  $json.output.testcases.map(\n    c => `**${c.title}**\\n${c.description}`\n  ).join('\\n\\n')\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [736, 192],
      "id": "197506eb-988c-4064-a48e-335c39809d1a",
      "name": "GitHub Testcases Comment",
      "webhookId": "f2e3542f-4579-4238-beb3-d34004e842c6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"preview-url\": {\n      \"type\": \"string\",\n      \"description\": \"URL for the preview environment where the tests were run.\"\n    },\n     \"pr-number\": {\n      \"type\": \"number\",\n      \"description\": \"Number of the pull request\"\n    },\n    \"success\": {\n      \"type\": \"boolean\",\n      \"description\": \"Overall status indicating if all test cases passed.\"\n    },\n    \"test-results\": {\n      \"type\": \"array\",\n      \"description\": \"An array of results for each individual test case.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the test case this result refers to.\"\n          },\n          \"passed\": {\n            \"type\": \"boolean\",\n            \"description\": \"The status of the test case. 'true' indicates a pass, 'false' indicates a fail.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A detailed description of the test result, such as an error message.\"\n          }\n        },\n        \"required\": [\n          \"title\",\n          \"passed\",\n          \"description\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"preview-url\",\n    \"pr-number\",\n    \"success\",\n    \"test-results\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [2112, 608],
      "id": "37a12fbd-dcb1-41b1-964c-8fac6ed0505e",
      "name": "Browser Agent Structured Output"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needs-testing\": {\n      \"type\": \"boolean\",\n      \"default\": false,\n      \"description\": \"Indicates if the pull request needs testing.\"\n    },\n    \"pull-request-number\": {\n      \"type\": \"number\",\n      \"description\": \"The number of the pull request.\"\n    },\n    \"pull-request-comments-url\": {\n      \"type\": \"string\",\n      \"description\": \"The URL of the pull request comments.\"\n    },\n    \"testcases\": {\n      \"type\": \"array\",\n      \"description\": \"A list of test case objects.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the test case.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"The description of the test case.\"\n          }\n        },\n        \"required\": [\n          \"title\",\n          \"description\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"needs-testing\",\n    \"pull-request-number\",\n    \"pull-request-comments-url\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [304, 608],
      "id": "9bb43a10-cd28-4a0e-a768-e21f28e163a4",
      "name": "Testplan Agent Structured Output"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Click on any element in the window",
        "resource": "interaction",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to click on, e.g. The menu item \"about us\" at the top of the page`, 'string') }}",
        "additionalFields": {
          "waitForNavigation": "load"
        }
      },
      "id": "209b3534-e798-419f-9232-80b128b4a95c",
      "name": "Click",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1216, 608],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the page, ask and extract information",
        "resource": "extraction",
        "operation": "query",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', `Ask anything and request to extract information from the current page, e.g. \"Is there any sign-up form? yes or no\"`, 'string') }}",
        "additionalFields": {}
      },
      "id": "1f0ea7d3-a875-46f9-8182-34e1007c57d4",
      "name": "Query",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1344, 608],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Load a URL into the browser window",
        "resource": "window",
        "operation": "load",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "3c871ec9-0e46-4805-9d0e-a7e1309f1420",
      "name": "Load URL",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1472, 608],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "operation": "terminate",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}"
      },
      "id": "cbaa6cd0-c1bc-464b-bd4b-d61942cfbe97",
      "name": "End session",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1600, 608],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Type text into the page's element described",
        "resource": "interaction",
        "operation": "type",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "pressEnterKey": true,
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to type into, e.g. The search box at the top of the page`, 'string') }}",
        "additionalFields": {}
      },
      "id": "649ef34c-29c6-485b-a00e-6a7d6b4a9c08",
      "name": "Type",
      "type": "n8n-nodes-base.airtopTool",
      "position": [1728, 608],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "tlolkema",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-n8n-agent-workshop",
          "mode": "list",
          "cachedResultName": "ai-n8n-agent-workshop",
          "cachedResultUrl": "https://github.com/tlolkema/ai-n8n-agent-workshop"
        },
        "pullRequestNumber": "={{ $json.output[\"pr-number\"] }}",
        "event": "comment",
        "body": "=## Testcases Report\n\n{{ $json.output[\"test-results\"].map(item => `**${item.title}**\\n${item.description}`).join('\\n\\n')}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [2320, 384],
      "id": "49f0a436-48b7-4468-85ae-2603756c5c58",
      "name": "GitHub Results Comment",
      "webhookId": "c45b122b-9a3a-4c94-8783-235247204ae9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3vEQUhWPIkywSnnG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "profileName": "=Default",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtopTool",
      "typeVersion": 1,
      "position": [1856, 608],
      "id": "ceb33575-805c-4abe-9bc1-c8f6f66e18ce",
      "name": "Create a session in Airtop",
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', ``, 'string') }}",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "getLiveView": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtopTool",
      "typeVersion": 1,
      "position": [1984, 608],
      "id": "a4e6611b-8b4e-4038-af7f-38a791072c5f",
      "name": "Window",
      "credentials": {
        "airtopApi": {
          "id": "AQS7R9HmXO2cPS0P",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-80, 608],
      "id": "7884d8f3-84ab-4710-a1ad-5e90f695b2f8",
      "name": "gpt 5 nano",
      "credentials": {
        "openAiApi": {
          "id": "V2LMHN8RMyVrMaRr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [960, 608],
      "id": "57dd3fe6-1042-4b4a-8172-070f8d922932",
      "name": "gpt 5 mini",
      "credentials": {
        "openAiApi": {
          "id": "V2LMHN8RMyVrMaRr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst transformedItems = items.map((item) => {\n  return {\n    user_message: {\n      number: item?.json[\"pull-request-issue\"],\n      title: `change: implement combining line items same type. github issue: #${item?.json[\"github-issue\"]}`,\n      issue_url: `https://api.github.com/repos/${item?.json[\"github-user\"]}/ai-n8n-agent-workshop/issues/${item?.json[\"github-issue\"]}`,\n      diff_url: `https://github.com/${item?.json[\"github-user\"]}/ai-n8n-agent-workshop/pull/${item?.json[\"pull-request-issue\"]}.diff`,\n      comments_url: `https://api.github.com/repos/${item?.json[\"github-user\"]}/ai-n8n-agent-workshop/issues/${item?.json[\"pull-request-issue\"]}/comments`,\n    },\n  };\n});\nreturn transformedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, 288],
      "id": "85117a68-7f79-4c74-a21f-aa6347583716",
      "name": "Transform mock"
    }
  ],
  "pinData": {
    "GitHub Trigger Mock": [
      {
        "json": {
          "github-user": "tlolkema",
          "pull-request-issue": 2,
          "github-issue": 1
        }
      }
    ]
  },
  "connections": {
    "Testplan Agent": {
      "main": [
        [
          {
            "node": "Needs testing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Prepare Testplan Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request File Diffs": {
      "ai_tool": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Mock": {
      "main": [
        [
          {
            "node": "Transform mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Testplan Agent Input": {
      "main": [
        [
          {
            "node": "Testplan Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue": {
      "ai_tool": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Needs testing?": {
      "main": [
        [
          {
            "node": "GitHub Testcases Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait For Preview Environment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get preview URL from comments": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Preview Environment": {
      "main": [
        [
          {
            "node": "Browser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Testcases Comment": {
      "main": [[]]
    },
    "Browser Agent Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Testplan Agent Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Load URL": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "End session": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Type": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Browser Agent": {
      "main": [
        [
          {
            "node": "GitHub Results Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a session in Airtop": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window": {
      "ai_tool": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt 5 nano": {
      "ai_languageModel": [
        [
          {
            "node": "Testplan Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt 5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Browser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transform mock": {
      "main": [
        [
          {
            "node": "Testplan Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aaccd521-e507-434e-b5bd-c76c9d22c088",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e53efe907444854070074ff6b032b2f91ece1452cce6713a49551ccaae25d2aa"
  },
  "id": "I6dfczLjpHcoeeNG",
  "tags": []
}
